/*--- FF Matrix generic table styles ---*/
.ff_matrix { position:relative; margin:5px 0 10px -8px; }

.ff_matrix a.button { display:block; width:16px; height:16px; background:no-repeat 50% 50%; cursor:pointer; }
.ff_matrix a.button.add { background-image:url(../images/add.png); }
.ff_matrix a.button.add.row { display:inline-block; margin:5px 0 0 22px; width:auto; padding-left:18px; background-position:3px 50%; line-height:16px; }
.ff_matrix a.button.sort { margin-right:5px; background-image:url(../images/sort.png); cursor:move; }
.ff_matrix a.button.delete { margin-left:5px; background-image:url(../images/delete.png); }

.ff_matrix table { width:100%; }
.ff_matrix table .th,
.ff_matrix table .td { padding:6px 10px; vertical-align:top; text-align:left; }
.ff_matrix table .gutter { vertical-align:middle; width:21px; }

/* headers */
.ff_matrix table .th { border-top:1px solid #5f7888; border-right:1px dotted #556e7f; white-space:nowrap; font-weight:normal; }
.ff_matrix table th.first,
.ff_matrix_conf table .th:first-child { border-left:1px solid #6c8494; }
.ff_matrix table th.last,
.ff_matrix_conf table .th:last-child { border-right:1px solid #6c8494; }

/* data cells */
.ff_matrix table .td { border-right:1px dotted #c5cfda; padding:5px 10px; }
.ff_matrix table td.first,
.ff_matrix_conf table .td:first-child { border-left:1px solid #c5cfda; }
.ff_matrix table td.last,
.ff_matrix_conf table .td:last-child { border-right-style:solid; }


/*--- FF Matrix Configuration ---*/
.ff_matrix_conf { position:relative; margin:15px 18px 0 15px; }
.ff_matrix_conf a.button.add { position:absolute; bottom:26px; right:-21px; }
.ff_matrix_conf .helper { position:absolute; top:-2px; }

.ff_matrix_conf table .th { cursor:move; }
.ff_matrix_conf table .td { background:#f5faff; }

/* confs */
.ff_matrix_conf table tr.conf .td { border-right:1px solid #1d2326; border-top:1px dotted #1d2326; background:#262e33 repeat-x 0 0; color:#999; }
.ff_matrix_conf table tr.conf .td:first-child { border-left:1px solid #1d2326; }
.ff_matrix_conf table tr.conf .td:last-child { border-right-style:solid; }
.ff_matrix_conf table tr.conf.col .td { border-top-style:solid; background-image:url(../images/stripes.png); }
.ff_matrix_conf table tr.conf.cellsettings { display:none; }

.ff_matrix_conf table tr.conf .td label { display:block; }
.ff_matrix_conf table tr.conf .td label .defaultBold { color:#999; }
.ff_matrix_conf table tr.conf .td label input { width:98%; max-width:140px; }

.ff_matrix_conf table tr.delete .td { border:none; border-top:1px solid #1d2326; padding:0; background:none; }
.ff_matrix_conf table tr.delete .td a.button.delete { margin:5px 0 0 auto; background-image:url(../images/delete.png); }
